*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    text-align: center;
    width: 100%;
}
header nav {
    width: 1224px;
    height: auto;
    margin: auto;
    padding: 12px 15px;
}
header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
nav button {
    width: 196px;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 24px 17px 24px;
    margin: 0px 10px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    background: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}
.banner-section {
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 24px 0;
    height: 100vh;
}
.banner-content {
    width: 1280px;
    margin: 18px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.banner-content img {
    max-width: 95%;
    height: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}
.banner-content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
}
.banner-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: .7;
    margin: 24px 0;
}
.banner-content button {
    padding: 12px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-bottom: 16px;
}
.banner-content button a {
    color: rgb(225, 255, 225);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
}
main .main-section {
    width: 1140px;
    height: auto;
    margin: 38px auto;
}
main .developer-section {
    width: 1140px;
    border-radius: 6px;
    background: rgba(13, 19, 33, 0.02);
}
main .developer-section h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    padding: 38px 0;
}
main .developer-section p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: .7;
}
main .developer-cards {
    width: 946px;
    height: 336px;
    margin: 24px auto;
    padding: 48px;
    background-color: #fff;
}
main .developer-card-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10;
}
main .middle-card {
    flex-direction: row-reverse;
}
main .developer-card-content h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
main .developer-card-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin: 16px 0;
}
main .developer-card-content img {
    max-width: 100%;
    height: auto;
}
main .developer-card-content button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    padding: 8px 14px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

main .inspiration-text h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    margin-top: -90px;
    margin-bottom: 20px;
}
main .inspiration-section {
    padding: 22px 0;
}
main .inspiration-text p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
    opacity: .7;
}
main .inspiration-text {
    text-align: center;
}
main .inspiration-text iframe {
    width: 1076px;
    height: 550px;
    max-width: 100%;
}
main .current-target {

}

main .current-target h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    padding: 38px 0;
}
main .current-target p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: .7;
}
main .current-target-cards {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main .current-target-card {
    width: 364px;
    height: auto;
    padding: 40px;
    border-radius: 8px;
    margin: 18px 0px;
}
main .html-color{
    background: rgba(255, 76, 30, 0.05);
}
main .css-color {
    background: rgba(0, 76, 232, 0.05);
}
main .js-color {
    background: rgba(255, 223, 0, 0.05);
}
main .current-target-card image {
    background: rgb(255, 76, 30);
    width: 56px;
    height: 56px;
}
main .current-target-card h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -14px;
}
main .current-target-card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    opacity: .7;
    margin-top: -18px;
    margin-bottom: 14px;
}
main .current-target-card a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
main .next-target {
    padding: 0px 0px 24px 0px;
}
main .next-target h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
main .next-target p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
}
main .next-target-box {
    border: 1px solid rgba(13, 19, 33, 0.15);
    padding: 40px;
    margin: 24px 0px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
main .next-target-box-model {

}
main .next-target-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}
main .next-target-box-text h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
}
main .next-target-box-text p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}
main .next-target-box-text a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
footer .support-section {
    width: 1140px;
    height: 313px;
    margin: 0px auto;
    padding: 64px 48px;
    border-radius: 16px;
    background: url('assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer .support-section h2 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}
footer .support-section p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    margin: 14px 0px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
footer .submit-btn input {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 16px 18px 16px 18px;
}
footer .submit-btn button {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 12px 14px 12px 14px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}
footer .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    border-radius: 16px;
    padding: 18px 100px;
    margin-top: 28px;
    background: rgba(13, 19, 33, 0.03);
}
footer .main-footer ul {
    display: flex;
    align-items: center;
}
footer .main-footer ul li {
    list-style-type: none;
    padding: 0px 8px;
}
footer .main-footer span {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    opacity: .7;
}


